@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
/*.saira-condensed-medium {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');
/*.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/*// <uniquifier>: Use a unique and descriptive class name

.quicksand-<uniquifier> {
  ;font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal
}*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name


}.space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
/* font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;*/