.topbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;

    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    user-select: none;
}

.topbar .wrapper {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.topbar .left,
.topbar .right {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkkhaki;
}

.topbar .center {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: darkkhaki;
}

.topbar .left i {
    font-size: 1.5rem;
}

.topbar .right span img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.topbar .right .searchengine {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.topbar .right .searchengine i {
    position: absolute;
    right: 0px;
    background-color: moccasin;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.topbar .right .searchengine input {
    width: 100%;
    margin-right: 20px;
    height: 25px;
    border-radius: 3px;
}

.topbar .wrapper {
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-10px);
}

.topbar .wrapper.active {
    opacity: 1;
    transform: translateY(0px);
}

.topbar .left i {
    transition: all 0.3s;
    transform: translateX(-20px);
    opacity: 0;
}

.topbar .wrapper.active .left i {
    transition: all 0.2s;
    transform: translateX(0px);
    opacity: 1;
}
.topbar .wrapper.active .left i:nth-child(1) {
    transition: all 0.4s;
    transform: translateX(0px);
    opacity: 1;
}

.topbar .wrapper.active .left i:nth-child(2) {
    transition: all 0.4s;
    transform: translateX(0px);
    opacity: 1;
}

.topbar .wrapper.active .left i:nth-child(3) {
    transition: all 0.6s;
    transform: translateX(0px);
    opacity: 1;
}

.topbar .wrapper.active .left i:nth-child(4) {
    transition: all 0.6s;
    transform: translateX(0px);
    opacity: 1;
}

.topbar .wrapper.active .center a:nth-child(1) {
    transition: all 0.4s;
    transform: translateY(+10px);
    opacity: 1;
}

.topbar .wrapper.active .center a:nth-child(2) {
    transition: all 0.6s;
    transform: translateY(+10px);
    opacity: 1;
}

.topbar .wrapper.active .center a:nth-child(3) {
    transition: all 0.8s;
    transform: translateY(+10px);
    opacity: 1;
}

